*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

# IntelliJ
/out/
.idea_modules/

.gradle
build/
data/

.DS_Store
local.properties/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
